.resultsContainer{
	margin-top: 73px;
}

.sortContainer{
	
	display: none;
	justify-content: flex-end;
	position:fixed;
	top:30px;
	right:0;
	background:white;
	width:100%;
	padding:10px 10px;

	
}

select{
	font-size: 16px;
}

@media(min-width: 813px){

	.resultsContainer{
		display:block !important;
		width:40%;
		margin-top:0;
		position:fixed;
		right:0;
		height:100vh;
		overflow-y: scroll;

	}


	.sortContainer{
		
		display: flex;
		justify-content: flex-end;
		position:fixed;
		top:58px;

		background:white;
	
	}

}