.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 99%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 5px;
    height:50vh;
    left:0.5%;
    background-color: #F5F5F5;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    z-index:2010;
    top:30px;
}

@media (min-width: 813px) {
    .Modal {
        top:58px;
        width: 800px;
        left: calc(50% - 400px);
    }
}